.panel {
    .panel-title {
        background-color: $gray;
        cursor: pointer;
        margin-bottom: 0;
        padding: 2em;
        position: relative;

        &::after {
            content: '\25BC';
            position: absolute;
            right: 2em;
        }
    }

    .panel-content-wrapper {
        background-color: $light-gray;
        max-height: 0;
        overflow: hidden;
        transition: max-height .5s ease-in;

        .panel-content {
            padding: 1.5em 1.5em 1.5em 2em;
        }
    }

    &.active {
        .panel-title {
            &::after {
                content: '\25B2';
            }
        }
    }
}

