.grid-view-item__cta {
  left: 50%;
  opacity: 0;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity .2s ease-in;

  &.base {
    background-color: var(--color-black);
    border: 0;
    color: var(--color-white);
    padding: .5em;
    width: 50%;
  }

  &.snazzy {
    background-color: transparent;
    border: 3px solid var(--color-white);
    box-shadow: 1px 1px 1px var(--color-black), 1px 1px 1px var(--color-black) inset;
    color: var(--color-white);
    font-weight: 600;
    padding: 1em;
    text-shadow: 2px 1px 1px var(--color-black), 1px 2px 1px var(--color-black);
  }
}

.product-card {
  &:hover {
    .grid-view-item__cta {
      opacity: 1;
    }
  }
}